JWT_SECRET=
MONGO_SRV=
FRONTEND_URL_LOCAL=http://localhost:5173/
FRONTEND_URL_HML=http://localhost:5173/
FRONTEND_URL_PROD=http://localhost:5173/
BACKEND_URL_LOCAL=http://localhost:3001/
BACKEND_URL_HML=http://localhost:3001/
BACKEND_URL_PROD=http://localhost:3001/
BACKEND_IMGS_URL_LOCAL=http://localhost:3001/uploads/imgs/
BACKEND_IMGS_URL_HML=http://localhost:3001/uploads/imgs/
BACKEND_IMGS_URL_PROD=http://localhost:3001/uploads/imgs/
ENV=local
USE_KAFKA=false